### BikeSharing On Demand 
* 자전거 대여수를 예측 - 회귀
1. Data Loading
2. Data Preprocessing
3. Visualization
4. Feature Engineering
5. Model / Training / Prediction
7. Submission

### 1. Data Load

In [2]:
import pandas as pd
import numpy as np

train = pd.read_csv('data/bike/train.csv', parse_dates=['datetime'])
test = pd.read_csv('data/bike/test.csv', parse_dates=['datetime'])

print(train.shape)
print(test.shape)

(10886, 12)
(6493, 9)

In [4]:
train.head(3)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32

In [7]:
test.head(3)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(8)
memory usage: 1020.7 KB

In [11]:
# 계절
train['season'].value_counts()

4    2734
3    2733
2    2733
1    2686
Name: season, dtype: int64

In [23]:
def val_count(colname):
    return train[colname].value_counts().sort_values(ascending=False)

In [24]:
val_count('season')

4    2734
2    2733
3    2733
1    2686
Name: season, dtype: int64

In [25]:
# holiday 휴일여부 1=휴일
val_count('holiday')

0    10575
1      311
Name: holiday, dtype: int64

In [16]:
# workingday 근무일여부 0=주말, 1=주중
val_count('workingday')

1    7412
0    3474
Name: workingday, dtype: int64

In [18]:
# weather 1=날씨좋음
val_count('weather')

1    7192
2    2834
3     859
4       1
Name: weather, dtype: int64

In [19]:
# temp
val_count('temp')

14.76    467
26.24    453
28.70    427
13.94    413
18.86    406
22.14    403
25.42    403
16.40    400
22.96    395
27.06    394
24.60    390
12.30    385
21.32    362
13.12    356
17.22    356
29.52    353
10.66    332
18.04    328
20.50    327
30.34    299
9.84     294
15.58    255
9.02     248
31.16    242
8.20     229
27.88    224
23.78    203
32.80    202
11.48    181
19.68    170
6.56     146
33.62    130
5.74     107
7.38     106
31.98     98
34.44     80
35.26     76
4.92      60
36.90     46
4.10      44
37.72     34
36.08     23
3.28      11
38.54      7
0.82       7
39.36      6
2.46       5
1.64       2
41.00      1
Name: temp, dtype: int64