### 자료구조

#### List
* List Comprehension

In [1]:
# list comprehension (포괄적인 리스트)
# 적용전 before
numbers = [1,2,3,4]
result = []
for value in numbers:
    result.append(value ** 2)

result

[1, 4, 9, 16]

In [2]:
#List Comprehension 적용 후 after
result2 = [ val ** 2 for val in numbers ]
result2

[1, 4, 9, 16]

In [7]:
# 적용전
even_list = []
#range(20) 0 - 19
#range(1,20) 1 - 19
#range(1,20,2) 1,3,5 - 19
for val in range(20):
    if val % 2 == 0:
        #print(val)
        even_list.append(val)

even_list

[4, 10, 16]

In [8]:
# 적용후
even_list2 = [ val for val in range(20) if val % 2 == 0]
even_list2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

#### Dictionary

In [11]:
# dict
my_dict = {
    "name":"홍길동",
    "age":40
}
print(type(my_dict))
print(my_dict)
# dict에 item 읽어오기
name = my_dict['name']
print(name)

<class 'dict'>
{'name': '홍길동', 'age': 40}
홍길동

In [12]:
#dict에 item 추가하기
my_dict['addr'] = 'Seoul'
my_dict

{'name': '홍길동', 'age': 40, 'addr': 'Seoul'}

In [14]:
for key in my_dict.keys():
    print(key , my_dict[key])

name 홍길동
age 40
addr Seoul

In [15]:
for k,v in my_dict.items():
    print(k,v)

name 홍길동
age 40
addr Seoul

In [16]:
#dict , list
song_list = []
for val in range(5):
    song_dict = {}
    song_dict['seq'] = val
    song_dict['title'] = 'Dynamite'
    #print(song_dict)
    song_list.append(song_dict)

song_list

[{'seq': 0, 'title': 'Dynamite'},
 {'seq': 1, 'title': 'Dynamite'},
 {'seq': 2, 'title': 'Dynamite'},
 {'seq': 3, 'title': 'Dynamite'},
 {'seq': 4, 'title': 'Dynamite'}]

#### Tuple

In [21]:
tuple1 = (1,2,3)
print(type(tuple1))
print(tuple1)
#tuple1.append(10)

<class 'tuple'>
(1, 2, 3)

In [18]:
my_tuple = (1)
print(type(my_tuple))

my_tuple2 = (1,)
print(type(my_tuple2))

<class 'int'>
<class 'tuple'>

### 함수선언

In [22]:
#10 + 20 = 30
def add(n1, n2):
    return n1 + n2

In [23]:
add(10,20)

30

In [26]:
def my_url(kind):
    #url = "https://openapi.naver.com/v1/search/{}.json".format(kind)
    url = f"https://openapi.naver.com/v1/search/{kind}.json"
    print(url)

In [27]:
my_url('news')
my_url('movie')
my_url('book')

https://openapi.naver.com/v1/search/news.json
https://openapi.naver.com/v1/search/movie.json
https://openapi.naver.com/v1/search/book.json

In [28]:
# tuple 형태로 여러개의 값을 반환하는 함수 선언
def swap(a,b):
    return (b,a)

In [29]:
n1,n2 = swap(10,20)
print(n1)
print(n2)

20
10

In [30]:
#함수를 정의할때 Lambda 식 형태 선언
add2 = lambda n1,n2 : n1 + n2

add2(10,30)

40

In [31]:
my_str = '123,456'
result = my_str.replace(',','')
print(my_str, result)

123,456 123456

In [32]:
myfunc = lambda mystr : mystr.replace(',','')
myfunc('2222,444')

'2222444'

In [33]:
myfunc2 = lambda mystr: mystr[-5:]
myfunc2('2020-10-31')

'10-31'

In [34]:
#함수의 아규먼트 갯수가 가변적인 경우 (Non-Keyword Arguments)
def myFun(*argv): 
    arg_list = []
    for arg in argv: 
        arg_list.append(arg)
    print(arg_list)
    
myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks') 
myFun('Hello', 'Welcome')

['Hello', 'Welcome', 'to', 'GeeksforGeeks']
['Hello', 'Welcome']

In [39]:
#함수의 아규먼트가 dict 형태인 경우
def myFun(**kwargs): 
    print(type(kwargs), kwargs)
    for key, value in kwargs.items():
        print ("%s == %s" %(key, value))
 
# Driver code
myFun(first ='Geeks', mid ='for', last='Geeks')

<class 'dict'> {'first': 'Geeks', 'mid': 'for', 'last': 'Geeks'}
first == Geeks
mid == for
last == Geeks

### split 함수

In [5]:
# split() 함수 사용
my_str = 'a/b/c'
result = my_str.split('/')
print(type(result), result)

<class 'list'> ['a', 'b', 'c']

In [43]:
lyric = '''
Yesterday 
all 
my 
troubles 
seemed so far away.
'''
result = lyric.split('\n')
result

['', 'Yesterday ', 'all ', 'my ', 'troubles ', 'seemed so far away.', '']

In [12]:
import re

my_str = 'a\nb\rc\td' * 3
print(my_str)

#정규표현식 패턴(Pattern) 객체 생성
regexp = re.compile(r'[\n\r\t]')
print(type(regexp), regexp)
#Pattern 과 매칭되는 문자열을 찾아서 다른 문자열로 치환
result = regexp.sub(" ",my_str)
#str의 replace 함수로 중간 공백을 제거함
result = result.replace(" ","")
print(result)

a
c	da
c	da
c	d
<class 're.Pattern'> re.compile('[\\n\\r\\t]')
abcdabcdabcd

In [13]:
dt_list = ['정당','선거구']
dd_list = ['민주당','서울은평구']

print(zip(dt_list,dd_list))

for data in zip(dt_list,dd_list):
    print(data)
    
data_dict = dict(zip(dt_list,dd_list))    
print(data_dict)

<zip object at 0x000001CE61F89BC0>
('정당', '민주당')
('선거구', '서울은평구')
{'정당': '민주당', '선거구': '서울은평구'}

In [16]:
temp = '재선(20대,21대)'
print(temp[2:])
print(temp[:2])

(20대,21대)
재선

In [20]:
from datetime import date

#현재 날짜 
today = date.today()
print(today)
print(today.year)
print(today.month)
print(today.day)

2020-10-23
2020
10
23

In [30]:
# 1960 6 4
# 1960 12 5
birth = date(1960,12,4)
print(birth)
print(birth.year)
print(birth.month)
print(birth.day)

1960-12-04
1960
12
4

In [31]:
#10-23   < 6-4
(today.month, today.day) < (birth.month, birth.day)

True

In [33]:
birth = date(1960,6,4)
birth

datetime.date(1960, 6, 4)

In [35]:
age = today.year - birth.year - ((today.month, today.day) < (birth.month, birth.day))
age

60

In [40]:
from datetime import date

def calc_age(birth):
    #현재날짜
    today = date.today()
    print(today, birth)
    print('year ', today.year - birth.year)
    print('month day ', (today.month, today.day) < (birth.month, birth.day))
    age = (today.year - birth.year) - ((today.month, today.day) < (birth.month, birth.day))
    print(age)
    return age

In [41]:
calc_age(date(1992,6,4))

2021-03-21 1992-06-04
year  29
month day  True
28

28

In [42]:
calc_age(date(1992,12,4))

2021-03-21 1992-12-04
year  29
month day  True
28

28

In [3]:
import os

In [5]:
os.makedirs("folder/subfolder2")

In [6]:
my_list = [10,20,40,0,90]
from itertools import count

for val in count(0):
    pass

In [10]:
import pandas as pd

series = pd.Series(['2020-10-31','2020-10-29'])
series

0    2020-10-31
1    2020-10-29
dtype: object

In [11]:
series.map(lambda mystr: mystr[-5:])

0    10-31
1    10-29
dtype: object

In [17]:
df = pd.DataFrame({'id' : [123,512, 12354.3, 129, 753, 295, 610, 710],
                    'colour': ['black', 'white','white','white',
                            'black', 'black', 'white', 'white'],
                    'shape': ['round', 'triangular', 'triangular','triangular','square',
                                        'triangular','round','triangular']
                    },  columns= ['id','colour', 'shape'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      float64
 1   colour  8 non-null      object
 2   shape   8 non-null      object
dtypes: float64(1), object(2)
memory usage: 320.0+ bytes

In [19]:
df['id']= df['id'].str
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   colour  8 non-null      object
 2   shape   8 non-null      object
dtypes: object(3)
memory usage: 320.0+ bytes